@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

d|entry {
}

h1 {
	font-size: 150%;
}

h3 {
	font-size: 100%;
}

span.title {
	font-size: 150%;
	margin-bottom: 2em;
}

span.syntax {
	color: #808080;
}

p {
	margin: 0;
}

span.column {
	display: block;
	border: solid 2px #C0C0C0;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.5em;
}

table {
	margin: 0.5em 2em 0 0;
	background-color: #F0F0F0;
	border-collapse: collapse;
}

.col {
	text-align: left;
}

th {
	padding: 0.3em;
	border: solid 2px #F0F0F0;
	border-collapse: collapse;
	text-align: right;
	background-color: #C0C0C0;
}

th.indicative {
	background-color: #C0CFE4;
}

th.subjunctive {
	background-color: #C0E4C0;
}

th.imperative {
	background-color: #E4D4C0;
}

th.infinitive {
	background-color: #E2E4C0;
}

td {
	padding: 0.3em;
	font-family: monospace;
	border: solid 2px #F0F0F0;
	border-collapse: collapse;
}