@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

d|entry {
}

h1 {
	font-size: 150%;
}

h3 {
	font-size: 100%;
}

span.column {
	display: block;
	border: solid 2px #c0c0c0;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.5em;
}

table {
	margin: 2em 2em 2em 0;
	font-family: sans-serif;
	border: solid 2px #909090;
	border-collapse: collapse;
}

th {
	padding: .3em;
	font-style: italic;
	border: solid 2px #909090;
	border-collapse: collapse;
	background-color: #EBD699;
}

td {
	padding: .3em;
	border: solid 2px #909090;
	border-collapse: collapse;
}
