<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>Latin</string>
	<key>CFBundleIdentifier</key>
	<string>com.nicolabuescher.dictionary.ModernLatinDictionary</string>
	<key>CFBundleName</key>
	<string>ModernLatinDictionary</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSDictionaryCopyright</key>
	<string>Copyright © 2014 Nicola Buescher</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>Nicola Buescher</string>
	<key>DCSDictionaryFrontMatterReferenceID</key>
	<string>front_back_matter</string>
	<key>DCSDictionaryPrefsHTML</key>
	<string>MyDictionary_prefs.html</string>
	<key>DCSDictionaryXSL</key>
	<string>MyDictionary.xsl</string>
	<key>DCSDictionaryDefaultPrefs</key>
	<dict>
		<key>la_pronunciation</key>
		<string>0</string>
		<key>en_pronunciation</key>
		<string>0</string>
		<key>display-column</key>
		<string>1</string>
		<key>display-picture</key>
		<string>1</string>
		<key>version</key>
		<string>1</string>
	</dict>
</dict>
</plist>
