@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

d|entry {  }

body {
	font-size: 12pt;
	font: -apple-system-body;
	font-family: -apple-system;
	margin-left: 0.9em;
	margin-right: 0.9em;
	margin-top: 1.0em;
	margin-bottom: 1.5em;
}

span.arabic {
	font-size: 140%;
	font-family: "Adobe Arabic";
}

span.title {
	font-size: 170%;
	line-height: 150%;
	-webkit-hyphens: auto;
}

span.syntax {
    color: #777;
    display: inline-block;
    font-size: 120%;
    line-height: 130%;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

p {
    margin: 0;
}

p.desc {
    margin-top: .2em;
}

p.sub1 {
    text-indent: -.75em;
    padding-left: 2em;
}

p.sub2 {
    text-indent: -.75em;
    padding-left: 3.25em;
}

p.sub3 {
    text-indent: -.75em;
    padding-left: 4.5em;
}

p.label {
    font-variant: small-caps;
    font-size: 90%;
    padding-bottom: 0.3em;
    border-bottom: solid thin #ddd;
    color: #888;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

sub {
    top: 0.4em;
}

span .column {
	display: block;
	border: solid 2px #C0C0C0;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.5em;
}

table {
	margin: 0em;
	background-color: #F0F0F0;
	border-collapse: collapse;
}

.col {
    text-align: left;
}

th {
	padding: 0.3em;
	border: solid 2px #F0F0F0;
	border-collapse: collapse;
	text-align: left;
	background-color: #C0C0C0;
}

.top {
    text-align: center;
}

th.ind {
    background-color: #C0CFE4;
}

th.subj {
    background-color: #C0E4C0;
}

th.imp {
    background-color: #E4D4C0;
}

th.inf {
    background-color: #E2E4C0;
}

td {
	padding: 0.3em;
	border: solid 2px #F0F0F0;
	border-collapse: collapse;
}
